/*less文件中支持所有css语法*/
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ccc;
}
.box1 {
  width: 100px;
  height: 200px;
  margin-bottom: 5px;
  background-color: #ff00ff;
}
.box2 {
  width: 100px;
  height: 200px;
  margin-bottom: 5px;
  background-color: #ff00ff;
  border: 10px solid #000;
}
.box3 {
  width: 100px;
  height: 100px;
  background-color: red;
  border: 40px solid #000;
  -o-border-radius: 50px;
  -webkit-border-radius: 50px;
  -ms-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
/*
.trangle(top){
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 50px;
	border-color: #000 transparent transparent transparent;
}
.trangle(right){
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 50px;
	border-color: transparent #000 transparent transparent;
}
.trangle(bottom){
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 50px;
	border-color: transparent transparent #000 transparent;
}
.trangle(left){
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 50px;
	border-color: transparent transparent transparent #000;
}
*/
/*
.trangle(top){
	border-width: 50px;
	border-color: #000 transparent transparent transparent;
}
.trangle(right){
	border-width: 50px;
	border-color: transparent #000 transparent transparent;
}
.trangle(bottom){
	border-width: 50px;
	border-color: transparent transparent #000 transparent;
}
.trangle(left){
	border-width: 50px;
	border-color: transparent transparent transparent #000;
}
*/
.box4 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px;
  border-color: #000000 transparent transparent transparent;
}
ul {
  list-style: none;
  width: 500px;
  height: 300px;
  margin: 50px auto;
  border: 1px solid #000;
}
ul li {
  width: 100%;
  line-height: 40px;
  height: 40px;
}
ul li span {
  float: left;
}
ul li a {
  float: right;
}
ul li:hover {
  background-color: red;
}
.box5 {
  font-size: calc(40px);
}
.box6 {
  width: 100px !important;
  height: 100px !important;
  background-color: red !important;
  border: 40px solid #000 !important;
  -o-border-radius: 50px !important;
  -webkit-border-radius: 50px !important;
  -ms-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  border-radius: 50px !important;
  font-size: calc(20px + 20px);
}
.box7 {
  font-size: 40px;
}
